{% extends "shop\start.html" %}
{% load static %}

{% block content %}
<div class="row row-cols-md-4">
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
    <div class="col mb-3 shadow">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Holz">
            <div class="card-body">
                <h5 class="card-title">Eiche geplatzt</h5>
                <p class="card-text">Das ist unser bestes Holz. Wir stellen es aus Resten her und verdienen uns dumm und
                    dämlich.</p>
                <a href="#" class="btn btn-primary">Bestellen</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}